/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #E2725B;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Header styles */
  header {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  nav {
    display: inline-block;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    text-align: center;
  }
  
  nav li {
    margin-left: 20px;
    text-align: center;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #f00;
  }
  
  /* Main styles */
  main {
    padding: 100px 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
  }
  
  p {
    margin-bottom: 40px;
    color: #555;
  }
  
  .btn {
    display: inline-block;
    padding: 12px 24px;
    background-color:#8B3E30;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }
  
  footer {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
  }
  
  footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  footer li {
    margin: 0 10px;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  footer a:hover {
    color: #f00;
  }
  